/* NAVBAR */
body {
    background-color: #96F3FA;
}

#navbar {
    background-color: #005B88;
    color: #96F3FA;
}

a:any-link {
    color: #96F3FA;
}

a:hover {
    background-color: #007285;
}

#dropdown {
    background-color: #007285;
}

#surver {
    height: 5%;
    width: 10%;
}

#profile {
    margin-left: 70%;
    margin-right: -1;
}

#PhotoProfile {
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

/* ============================= 
                Menu 
                dalam   
================================= */

#collections{
    margin-top: 2%;
    color: white;
    font-family: Haettenschweiler;
    font-size: 400%;
}