/* NAVBAR */
body {
    background-color: #01B8D7;
}

#navbar {
    background-color: #005B88;
    color: #96F3FA;
}

a:any-link {
    color: #96F3FA;
}

a:hover {
    background-color: #007285;
}

#dropdown {
    background-color: #007285;
}

#surver {
    height: 5%;
    width: 10%;
}

#profile {
    margin-left: 70%;
    margin-right: -1;
}

#PhotoProfile {
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

/* ============================= 
                Menu 
                dalam   
================================= */

#quote{
    margin-top: 5%;
    margin-left: 26%;
}

#kartu{
    background-color: #96F3FA;
    color: #007285;
}

#cardTitle{
    color: #007285;
}

a:hover #cardTitle {
    color: white;
}

article{
    margin-left: 11%;
    margin-top: 5%;
    width: 77%;
    margin-bottom: 8%;
}

#request{
    margin-bottom: 5%;
}

/* =============================
            PAGINATOR    
================================= */

/* FOOTER */
footer {
    background-color: #005B88;
    color: #94f1fc;
    padding-bottom: 10px;
}
